@inject IClaimService claimService

<div id="grid-container">
    <SfGrid TValue="ClaimSearchResponse" @ref="claimGrid" Height="100%"
            Toolbar="@(new List<string>() { "Search" })"
            AllowPaging="true" AllowReordering="true" AllowSorting="true" AllowFiltering="true" ShowColumnMenu="true"
            DataSource="@Claims">
        <GridPageSettings PageSize="GridConstants.RowCount" PageSizes="@GridConstants.PageSizes"></GridPageSettings>
        <GridSearchSettings Fields="@(new[] { nameof(ClaimSearchResponse.ClaimId), nameof(ClaimSearchResponse.ProvName), nameof(ClaimSearchResponse.MemberName) })"
                            Operator="Syncfusion.Blazor.Operator.Contains"
                            IgnoreCase="true"
                            IgnoreAccent="true">
        </GridSearchSettings>
        <GridTemplates>
            <EmptyRecordTemplate>
                <div>No records found.</div>
            </EmptyRecordTemplate>
        </GridTemplates>
        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.CheckBox" Mode="FilterBarMode.Immediate"></GridFilterSettings>
        <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple" CheckboxOnly="true" PersistSelection="true"></GridSelectionSettings>
        <GridColumns>
            <GridColumn Type="ColumnType.CheckBox" AllowFiltering="false" AllowSorting="false" Width="50"></GridColumn>
            <GridColumn Width="200px" Field=@nameof(ClaimSearchResponse.Status) HeaderText="Status" Type="ColumnType.None" AllowEditing=false TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center">
                <Template>
                    @{
                        var item = (context as ClaimSearchResponse);
                        var status = item?.Status;
                        <SfButton IconCss="e-icons e-critical-path" IconPosition="IconPosition.Right" CssClass="@GetStatusCssClass(item)" type="button" aria-label="@($"Claim status: {status}")" OnClick="@(() => ShowTheRecord(item))">@status</SfButton>
                    }
                </Template>
            </GridColumn>
            <GridColumn Field=@nameof(ClaimSearchResponse.ClaimId) HeaderText="Claim" Type="ColumnType.String" IsPrimaryKey="true"></GridColumn>
            <GridColumn Field=@nameof(ClaimSearchResponse.ProvName) HeaderText="Provider" Type="ColumnType.String" AllowEditing="false"></GridColumn>
            <GridColumn Field=@nameof(ClaimSearchResponse.MemId) HeaderText="Mem Id" Type="ColumnType.String" AllowEditing="false"></GridColumn>
            <GridColumn Field=@nameof(ClaimSearchResponse.StartDate) HeaderText="DOS" Format="@CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern" Type="ColumnType.Date" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center"></GridColumn>
            <GridColumn Field=@nameof(ClaimSearchResponse.TotalPaid) HeaderText="Amount Paid" Type="ColumnType.Decimal" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" Format="C"></GridColumn>
            <GridColumn Field=@nameof(ClaimSearchResponse.TotalAmt) HeaderText="Total Charges" Type="ColumnType.Decimal" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" Format="C"></GridColumn>
        </GridColumns>
    </SfGrid>
    @if (apiConflictMessages.Count > 0)
    {
        <div id="error-container">
            @foreach (var message in apiConflictMessages)
            {
                <SfMessage Variant="MessageVariant.Outlined" Severity="Syncfusion.Blazor.Notifications.MessageSeverity.Error" ShowIcon="false" ShowCloseIcon="true">
                    @message
                </SfMessage>
            }
        </div>
    }
</div>
<style>
    #error-container {
        padding: 5px;
    }
    
    #grid-container {
        padding: 10px;
        height: 100%;
    }
</style>

@code {
    [Parameter] public EventCallback<ClaimSearchResponse?> OnOpenBladeEvent { get; set; }

    private readonly List<string> apiConflictMessages = [];
    private IEnumerable<ClaimSearchResponse> Claims { get; set; } = default!;
    private bool isExpanded = false;
    private SfGrid<ClaimSearchResponse>? claimGrid;

    public async Task ApplyFilterAsync(ClaimSearchFilter filter, CancellationToken ct = default)
    {
        if (claimGrid is null) return;

        await claimGrid.GoToPageAsync(1);

        filter.Skip = 0;
        filter.Take = 100;

        try
        {
            apiConflictMessages.Clear();
            await claimGrid.ShowSpinnerAsync();

            Claims = Array.Empty<ClaimSearchResponse>();
            var result = await claimService.SearchAsync(filter, ct);
            Claims = result.Results ?? Array.Empty<ClaimSearchResponse>();
        } catch (ConflictException ex)
        {
            var messages = ex.Conflicts.Select(c => $"{c.Message} ({c.MessageId})").ToList();
            apiConflictMessages.AddRange(messages);
        } catch (HttpRequestException ex)
        {
            apiConflictMessages.Add(ex.Message);
        } finally
        {
            await claimGrid.HideSpinnerAsync();
            StateHasChanged();
        }
    }

    private async Task ShowTheRecord(ClaimSearchResponse? claim)
    {
        isExpanded = !isExpanded;
        if (isExpanded)
            await OnOpenBladeEvent.InvokeAsync(claim);
        else
            await OnOpenBladeEvent.InvokeAsync(null);
    }

    private string GetStatusCssClass(ClaimSearchResponse? claim) => claim?.Status?.ToLower() switch
    {
        ClaimStatusConstants.Pend => "e-block e-info",
        ClaimStatusConstants.Open or ClaimStatusConstants.Log or ClaimStatusConstants.Adjudicated or ClaimStatusConstants.WaitPrice or ClaimStatusConstants.Priced => "e-block e-primary",
        ClaimStatusConstants.WaitDeny or ClaimStatusConstants.Deny or ClaimStatusConstants.Denied => "e-block e-danger",
        ClaimStatusConstants.WaitPay or ClaimStatusConstants.Pay or ClaimStatusConstants.Paid => "e-block e-success",
        ClaimStatusConstants.WaitRev or ClaimStatusConstants.Rev or ClaimStatusConstants.RevSynch or ClaimStatusConstants.Reversed => "e-block e-warning",
        _ => "e-block"
    };
}