@page "/requests"
@rendermode InteractiveAuto
@attribute [AllowAnonymous]

@inject IAuthorizationService authz
@inject IDamageAiService damageAiService
@inject IDamageRepo damageRepo
@inject ToastService toastService
@inject SfDialogService dialogService

<PageTitle>Track Property Repair Status | Property Claims</PageTitle>

<HeadContent>
    <meta name="description" content="Track your property damage claim online, review repair progress, and stay updated throughout the insurance claim process with Property Claims." />

    <link rel="canonical" href="https://www.propertyclaims.com/requests" />

    <meta property="og:title" content="Track Property Damage Claim Status | Repair Progress & Claim Updates | Property Claims" />
    <meta property="og:description" content="Track your property damage claim online, review repair progress, and stay updated throughout the insurance claim process with Property Claims." />
    <meta property="og:url" content="https://www.propertyclaims.com/requests" />
</HeadContent>

<section>
    <SfSpinner @bind-Visible="@isLoading"></SfSpinner>
    <SfAppBar role="region">
        <h1>Repair Progress</h1>
        @if (IsDesktopView)
        {
            <h2>
                Review repair progress to proceed to next steps
            </h2>
        }
        @if (isSideBarOpen)
        {
            <SfButton type="button" CssClass="e-round" IsPrimary="true" OnClick="@(() => ToggleBlade(selectedDamage))" IconCss="e-icons e-decrease-indent-rtl" title="Close the sidebar"></SfButton>
        }
    </SfAppBar>
    <DamageForm DamageContext="selectedDamage" IsOpen="@isEditDialogOpen" IsReadOnly="@isVendor" IsSaveClicked="@SaveClicked"></DamageForm>
    <div id="main-container">
        <div id="data-container">
            @if (damageList?.Any() == true)
            {
                @foreach (var item in damageList)
                {
                    <SfCard role="link">
                        <CardContent EnableSeparator="true">
                            <Description DamageContext="item"></Description>
                            <div class="spread-across">
                                <SfButton type="button" OnClick="@(() => OnReview(item))" IconCss="e-icons e-resizer-1"
                                          Content="@(item.AIReviewCompleted?"Reviewed by AI":"Run AI review")" Disabled="@item.AIReviewCompleted"
                                          CssClass="@(item.AIReviewCompleted?"e-warning e-outline":"e-warning")"
                                          IconPosition="IconPosition.Right" title="Smart review"></SfButton>
                                <SfButton type="button" CssClass="@item.GetStatusStyle()" OnClick="@(() => ToggleBlade(item))"
                                          Content="@(isSideBarOpen ? "Hide Sidebar" : item.GetStatusDescription())" IconCss="@(isSideBarOpen ? "e-icons e-eye-slash" : "e-icons e-eye")"
                                          IconPosition="IconPosition.Right" title="Review damage report">
                                </SfButton>
                            </div>
                        </CardContent>
                        <CardContent EnableSeparator="true">
                            @if (isVendor)
                            {
                                <VendorActions DamageContext="@item" OnSubmitEvent="OnSubmit" OnToggleBladeEvent="ToggleBlade" />
                            }
                            else
                            {
                                <OwnerActions DamageContext="@item" OnToggleBladeEvent="ToggleBlade" />
                            }
                        </CardContent>
                    </SfCard>
                }
            }
            else
            {
                <SfCard role="region">
                    <CardContent>
                        No damage reports found. Please check back later.
                    </CardContent>
                </SfCard>
            }
        </div>
    </div>
    <SfSidebar ID="side-bar-blade" Width="@(IsDesktopView ? "30vw" : "")" @bind-IsOpen="isSideBarOpen"
               Type="@(IsDesktopView ? SidebarType.Push : SidebarType.Over)" Target="#main-container"
               Position="SidebarPosition.Right">
        <ChildContent>
            @if (selectedDamage != default)
            {
                <SfCard role="region">
                    <CardContent EnableSeparator="true">
                        @foreach (var item in selectedDamage.Sections)
                        {
                            if (!string.IsNullOrWhiteSpace(item.Entry))
                            {
                                <div>
                                    <strong>@item.DamageSectionType?.Name</strong>
                                    <div>@item.Entry</div>
                                </div>
                            }
                        }
                    </CardContent>
                    <CardContent EnableSeparator="true">
                        <div class="spread-across">
                            <SfButton type="button" Content="Damage Details"
                                      IconCss="e-icons e-circle-info" IconPosition="IconPosition.Right"
                                      CssClass="@(selectedDamage.AIReviewCompleted? "e-primary":"e-warning")"
                                      OnClick="@(()=>OpenEditDialog(selectedDamage))" title="Damage report Details">
                            </SfButton>
                            <SfButton type="button" Content="View Images"
                                      IconCss="e-icons e-pentagon" IconPosition="IconPosition.Left"
                                      OnClick="@(()=>OnShowImages(selectedDamage.Id))" title="Damage report Images">
                            </SfButton>
                        </div>
                    </CardContent>
                </SfCard>
                @if (!isVendor)
                {
                    <FileUpload damageId="selectedDamage.Id"></FileUpload>
                }
            }
        </ChildContent>
    </SfSidebar>
</section>
<style>
    #side-bar-blade {
        border: solid 1px grey;
        border-radius: 8px;
        padding: 6px 10px 6px 10px;
    }

    #main-container {
        padding-right: 2px;
        padding-left: 2px;
        flex-basis: 100%;
    }

        #main-container #data-container .e-card {
            margin-bottom: 6px;
        }

</style>

@code {
    [CascadingParameter] private Task<AuthenticationState> authStateTask { get; set; } = default!;
    [CascadingParameter(Name = CascadingParams.MediaQuery)] private bool IsDesktopView { get; set; }

    IReadOnlyList<DamageEntry> damageList { get; set; } = default!;

    DamageEntry selectedDamage { get; set; } = default!;

    private bool isSideBarOpen { get; set; } = false;
    private bool isEditDialogOpen { get; set; } = false;
    private bool isLoading { get; set; } = true;
    private bool isVendor { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        try
        {
            var authState = await authStateTask;
            var result = await authz.AuthorizeAsync(authState.User, "Vendor");
            isVendor = result.Succeeded;

            if (isVendor)
                damageList = await damageRepo.ListVendorDamageEntriesAsync(CancellationToken.None);
            else
                damageList = await damageRepo.ListUserDamageEntriesAsync(CancellationToken.None);

        } catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
        } finally
        {
            isLoading = false;
        }
    }

    private async Task OnShowImages(int damageId)
    {
        isEditDialogOpen = false;

        await dialogService.AlertAsync(null, $"Damage report #{damageId}", new DialogOptions
        {
            CssClass = "popup-dialog",

            ShowCloseIcon = true,
            PrimaryButtonOptions = new DialogButtonOptions
            {
                Content = "Close", IconCss = "e-icons e-close"
            },
            AnimationSettings = new DialogAnimationOptions
            {
                Effect = DialogEffect.Zoom
            },
            ChildContent = builder =>
            {
                builder.OpenComponent<PictureList>(0);
                builder.AddAttribute(1, "DamageId", damageId);
                builder.CloseComponent();
            }
        });
    }

    private async Task OnSubmit(DamageEntry damage)
    {
        if (damage.StatusId == DamageStatus.ServiceScheduled) return;

        try
        {
            isLoading = true;

            damage.StatusId = DamageStatus.ServiceScheduled;
            await damageRepo.UpdateEntryAsync(damage, CancellationToken.None);

            toastService.ShowSuccess("Damage details updated successfully");
        } catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
        } finally
        {
            isLoading = false;
        }
    }

    private async Task<bool> OnReview(DamageEntry damage)
    {
        try
        {
            isLoading = true;
            await damageAiService.ProcessEntryAsync(damage, CancellationToken.None);
            toastService.ShowSuccess($"Damage report #{damage.Id} reviewed by AI");

            var result = await SaveClicked(damage);
            return result;
        } catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
            return false;
        } finally
        {
            isLoading = false;
        }
    }

    private void ToggleBlade(DamageEntry damage)
    {
        isEditDialogOpen = false;

        isSideBarOpen = !isSideBarOpen;
        if (isSideBarOpen) this.selectedDamage = damage;
    }

    private async Task OpenEditDialog(DamageEntry damage)
    {
        if (damage.AIReviewCompleted)
        {
            this.selectedDamage = damage;
            isEditDialogOpen = true;
        }
        else
        {
            var confirm = await OnReview(damage);
            if (confirm)
            {
                this.selectedDamage = damage;
                isEditDialogOpen = true;
            }
        }
    }

    private void CloseEditDialog()
    {
        isEditDialogOpen = false;
    }

    private async Task<bool> SaveClicked(DamageEntry damage)
    {
        try
        {
            isEditDialogOpen = false;
            isLoading = true;
            await damageRepo.UpdateEntryAsync(damage, CancellationToken.None);
            toastService.ShowSuccess("Damage details updated successfully");
            return true;
        } catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
            return false;
        } finally
        {
            isLoading = false;
        }
    }
}