@if (FormContext != default)
{
    <SfDialog Width="600px" ShowCloseIcon="true" CssClass="popup-dialog" @bind-Visible="IsOpen" IsModal="true" @ref="dialog">
        <DialogTemplates>
            <Header>
                Damage report #@DamageContext.Id
            </Header>
            <Content>
                <SfDataForm EditContext="FormContext" LabelPosition="FormLabelPosition.Top">
                    <FormValidator>
                        <DataAnnotationsValidator></DataAnnotationsValidator>
                    </FormValidator>
                    <FormTemplate>
                        <div id="damage-info">
                            <SfCard role="article">
                                <CardContent>
                                    <SfTextBox @bind-Value="DamageContext.Street" Width="100%" CssClass="e-small" FloatLabelType="FloatLabelType.Always" Readonly="IsReadOnly"
                                               Placeholder="Street" HtmlAttributes="@(new Dictionary<string, object>{{ "aria-label", "Street address" },{ "autocomplete" , "address-line1" }})" autofocus />
                                    <ValidationMessage For="@(() => DamageContext.Street)" />
                                    <div style="display:flex;column-gap:5px;">
                                        <SfTextBox @bind-Value="DamageContext.City" Width="auto" CssClass="e-small" Placeholder="City" FloatLabelType="FloatLabelType.Auto" Readonly="IsReadOnly"
                                                   HtmlAttributes="@(new Dictionary<string, object>{{ "aria-label", "City" },{ "autocomplete", "address-level2" }})" />
                                        <ValidationMessage For="@(() => DamageContext.City)" />
                                        <SfDropDownList TValue="string" Width="auto" CssClass="e-small" TItem="string" Placeholder="State" DataSource="States" Readonly="IsReadOnly"
                                                        @bind-Value="DamageContext.State" FloatLabelType="FloatLabelType.Auto"
                                                        HtmlAttributes="@(new Dictionary<string, object>{{ "aria-label", "State" },{ "autocomplete", "address-level1" }})" />
                                        <ValidationMessage For="@(() => DamageContext.State)" />
                                    </div>
                                    <SfTextBox @bind-Value="DamageContext.Zip" Width="auto" Placeholder="Zip code" CssClass="e-small" FloatLabelType="FloatLabelType.Always" Readonly="IsReadOnly"
                                               HtmlAttributes="@(new Dictionary<string, object>{{ "aria-label", "ZIP code" },{ "autocomplete", "postal-code" },{ "inputmode", "numeric" },{ "pattern", "[0-9]*" }})" />
                                    <ValidationMessage For="@(() => DamageContext.Zip)" />
                                </CardContent>
                            </SfCard>
                            <SfCard role="article">
                                <CardContent>
                                    <SfTextBox Width="100%" @bind-Value="DamageContext.InsuranceCarrier" CssClass="e-small" Placeholder="Insurance Carrier" FloatLabelType="FloatLabelType.Always" Readonly="IsReadOnly" />
                                    <ValidationMessage For="@(() => DamageContext.InsuranceCarrier)" />
                                    <div style="display:flex;column-gap:5px;">
                                        <SfTextBox Width="auto" @bind-Value="DamageContext.PolicyNumber" CssClass="e-small" Placeholder="Policy #" FloatLabelType="FloatLabelType.Always" Readonly="IsReadOnly" />
                                        <ValidationMessage For="@(() => DamageContext.PolicyNumber)" />
                                        <SfTextBox Width="auto" @bind-Value="DamageContext.ClaimNumber" CssClass="e-small" Placeholder="Claim #" FloatLabelType="FloatLabelType.Always" Readonly="IsReadOnly" />
                                        <ValidationMessage For="@(() => DamageContext.ClaimNumber)" />
                                    </div>
                                    <SfDatePicker CssClass="e-small" Width="auto" TValue="DateOnly" @bind-Value="@DamageContext.DateOfLoss" Format="@CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern"
                                                  FloatLabelType="FloatLabelType.Auto" Placeholder="Loss Date" EnableMask="true" Readonly="IsReadOnly">
                                        <DatePickerMaskPlaceholder Day="dd" Month="mm" Year="yyyy"></DatePickerMaskPlaceholder>
                                    </SfDatePicker>
                                    <ValidationMessage For="@(() => DamageContext.DateOfLoss)" />
                                </CardContent>
                            </SfCard>
                            <SfCard role="article">
                                <CardContent>
                                    <SfTextBox Width="100%" @bind-Value="DamageContext.FullName" CssClass="e-small" Placeholder="Full Name" FloatLabelType="FloatLabelType.Always" Readonly="IsReadOnly"
                                               HtmlAttributes="@(new Dictionary<string, object>{{ "aria-label", "Full name" },{ "autocomplete", "name" }})" />
                                    <ValidationMessage For="@(() => DamageContext.FullName)" />
                                    <div style="display:flex;column-gap:5px;">
                                        <SfTextBox Width="auto" @bind-Value="DamageContext.Phone" CssClass="e-small" Placeholder="Phone #" FloatLabelType="FloatLabelType.Always" Readonly="IsReadOnly"
                                                   HtmlAttributes="@(new Dictionary<string, object>{{ "aria-label", "Phone number" },{ "autocomplete", "tel" }, { "inputmode", "tel" }})" />
                                        <ValidationMessage For="@(() => DamageContext.Phone)" />
                                        <SfTextBox Width="auto" @bind-Value="DamageContext.Email" CssClass="e-small" Placeholder="Email address" FloatLabelType="FloatLabelType.Always" Readonly="IsReadOnly"
                                                   HtmlAttributes="@(new Dictionary<string, object>{{ "aria-label", "Email address" },{ "autocomplete", "email" },{ "inputmode", "email" }})" />
                                        <ValidationMessage For="@(() => DamageContext.Email)" />
                                    </div>
                                </CardContent>
                            </SfCard>
                        </div>
                    </FormTemplate>
                    <FormButtons>
                    </FormButtons>
                </SfDataForm>
            </Content>
            <FooterTemplate>
                <div class="spread-across">
                    @if (!IsReadOnly)
                    {
                        <SfButton type="button" IsPrimary="true" IconCss="e-icons e-check-large" Content="Submit changes" OnClick="SaveChanges" />
                        <SfButton type="button" IconCss="e-icons e-close" OnClick="CloseDialog">Close</SfButton>
                    }
                </div>
            </FooterTemplate>
        </DialogTemplates>
        <DialogAnimationSettings Effect="DialogEffect.SlideTop" />
    </SfDialog>
}
<style>
    #damage-info .e-card {
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
    }

    #damage-info {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
</style>

@code {
    [Parameter] public DamageEntry DamageContext { get; set; } = default!;
    [Parameter] public bool IsReadOnly { get; set; } = default!;
    [Parameter] public bool IsOpen { get; set; } = default!;
    [Parameter] public EventCallback<DamageEntry> IsSaveClicked { get; set; }

    private SfDialog dialog { get; set; } = default!;
    
    private void CloseDialog()
    {
        IsOpen = false;
    }

    private EditContext? FormContext { get; set; } = default!;

    private List<string> States = new()
    {
    "AL","AK","AZ","AR","CA","CO","CT","DE","FL","GA",
    "HI","ID","IL","IN","IA","KS","KY","LA","ME","MD",
    "MA","MI","MN","MS","MO","MT","NE","NV","NH","NJ",
    "NM","NY","NC","ND","OH","OK","OR","PA","RI","SC",
    "SD","TN","TX","UT","VT","VA","WA","WV","WI","WY"
    };

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        if (parameters.TryGetValue<DamageEntry>(nameof(DamageContext), out var value) &&
            value is not null &&
            parameters.TryGetValue<bool>(nameof(IsOpen), out var isOpen) &&
            isOpen)
        {
            FormContext = new EditContext(value);
        }
        await base.SetParametersAsync(parameters);
    }

    private async Task SaveChanges()
    {
        var IsFormValid = FormContext?.Validate() ?? false;
        if (!IsFormValid) return;

        IsReadOnly = true;
        await IsSaveClicked.InvokeAsync(DamageContext);
    }
}