@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveServer

@inject IChatClient client
@inject ToastService toastService

<section class="chat-shell">
    <SfAppBar ColorMode="AppBarColor.Primary">
        <SfIcon Size="IconSize.Large" Name="IconName.AIChat" Title="Smart Assistant"></SfIcon>
        <AppBarSpacer></AppBarSpacer>
        <div>Smart Assistant</div>
        <AppBarSpacer></AppBarSpacer>
    </SfAppBar>
    <SfListView DataSource="@Messages" TValue="ChatMessageVm" EnableVirtualization="true" CssClass="e-list-template" HeaderTitle="@DateTime.Now.ToLongDateString()"
                ShowHeader="true" Height="100%">
        <ListViewTemplates TValue="ChatMessageVm">
            <Template>
                <div class='e-list-wrapper e-list-avatar @(context.IsUser ? "" : "e-ai-message")'>
                    @if (context.IsUser)
                    {
                        <span class="e-avatar e-avatar-circle">You</span>
                    }
                    else
                    {
                        <img class='e-avatar e-avatar-circle' src="https://cdn.syncfusion.com/blazor/images/avatar/pic02.png" alt="AI" />
                    }
                    <span class="small-time">
                        @context.CreatedAt.ToString("MM/dd/yyyy hh:mm tt")
                    </span>
                    <span class='e-list-content'>@context.Text</span>
                </div>
            </Template>
        </ListViewTemplates>
    </SfListView>
    <div>
        <div class="wdr-container" style="padding-bottom: 14px;">
            <SfSmartTextArea UserRole="User" Placeholder="Start asking" @bind-Value="MessageText"
                             ShowClearButton="true" FloatLabelType="FloatLabelType.Auto" Width="100%"
                             RowCount="4" ShowSuggestionOnPopup="false">
            </SfSmartTextArea>
            <div @onclick:preventDefault>
                <SfSpeechToText @bind-Transcript="MessageText" />
            </div>
        </div>
        <SfButton type="submit" CssClass="e-primary e-block" IconCss="e-icons e-ai-chat" OnClick="CommunicateAsync" title="Ask AI" Content="Get Response" />
    </div>
</section>
<style>
    .chat-shell {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        gap: 8px;
    }

    .small-time {
        font-size: xx-small;
    }

    .e-ai-message {
        background-color: #e8f1ff;
    }
</style>

@code {
    [CascadingParameter] private Task<AuthenticationState> authStateTask { get; set; } = default!;

    private string MessageText { get; set; } = string.Empty;
    private List<ChatMessageVm> Messages { get; set; } = [];
    private async Task CommunicateAsync()
    {
        if (string.IsNullOrWhiteSpace(MessageText)) return;

        var userText = MessageText.Trim();

        Messages.Insert(0, new ChatMessageVm(userText, true));
        MessageText = string.Empty;

        try
        {
            var response = await client.GetResponseAsync(userText);
            Messages.Insert(0, new ChatMessageVm(response?.ToString() ?? string.Empty, false));
        } catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
        }
    }

    protected override async Task OnInitializedAsync()
    {
    }

    private sealed record ChatMessageVm(string Text, bool IsUser)
    {
        public DateTime CreatedAt { get; init; } = DateTime.Now.ToLocalTime();
    }
}