<SfCard CssClass="@(IsDesktopView ? "max-width-400" : "max-width")">
    <CardContent>
        <div id="spacebetween">
            <SfButton type="button" title="Click to open" CssClass="@btnStyle" IconPosition="IconPosition.Right" IconCss="e-icons e-chevron-right-double" OnClick="toggleTop">
                @(topExpanded ? "Hide" : DamageSection.DamageSectionType?.Name)
            </SfButton>
            <SfButton type="button" title="Get help" CssClass="e-link" OnClick="toggleInfo">
                @(infoExpanded ? "Collapse" : "More info")
            </SfButton>
        </div>
    </CardContent>
    @if (topExpanded)
    {
        <CardContent EnableSeparator="true">
            <div class="wdr-container">
                <SfSmartTextArea UserRole="property owner" Placeholder="@DamageSection.DamageSectionType?.Name" @bind-Value="DamageSection.Entry"
                                 CssClass="@(DamageSection.DamageSectionType?.IsEmergency == true ? "e-warning" : "")"
                                 ShowClearButton="true" FloatLabelType="FloatLabelType.Auto" Width="100%"
                                 RowCount="5" ShowSuggestionOnPopup="false">
                </SfSmartTextArea>
                <div @onclick:preventDefault style="align-self: center">
                    <SfSpeechToText @bind-Transcript="DamageSection.Entry" CssClass="e-info e-outline" SpeechRecognitionStopped="OnTranscriptChanged" />
                    <div class="wdr-icon">
                        <SfIcon Name="IconName.AIChat" Size="IconSize.Large" Title="Smart Assist"></SfIcon>
                    </div>
                </div>
                <div class="validation-message">
                    <ValidationMessage For="@(() => DamageSection.Entry)" />
                </div>
            </div>
        </CardContent>
    }
    @if (infoExpanded)
    {
        <CardContent EnableSeparator="true">
            @if (DamageSection.DamageSectionType?.IsEmergency == true)
            {
                <div class="e-warning">Emergency</div>
            }
            @DamageSection.DamageSectionType?.Description
        </CardContent>
    }
</SfCard>

<style>
    #spacebetween {
        display: flex;
        justify-content: space-between;
    }

        #spacebetween .e-large-button {
            height: 48px;
        }
</style>
@code {
    [CascadingParameter(Name = CascadingParams.MediaQuery)] private bool IsDesktopView { get; set; }
    [CascadingParameter] private EditContext EditContext { get; set; } = default!;
    [Parameter] public DamageEntrySection DamageSection { get; set; } = default!;

    private string btnStyle => DamageSection.DamageSectionId == 1 ? "e-large-button e-primary" : "e-large-button  e-primary e-outline";

    private void OnTranscriptChanged(SpeechRecognitionStoppedEventArgs args)
    {
        DamageSection.Entry = args.Transcript;
        EditContext.NotifyFieldChanged(new FieldIdentifier(DamageSection, nameof(DamageSection.Entry)));
    }

    private bool topExpanded { get; set; }
    private bool infoExpanded { get; set; }
    private void toggleTop() => topExpanded = !topExpanded;
    private void toggleInfo() => infoExpanded = !infoExpanded;
}
