<SfCard role="link">
    <CardContent>
        <Description DamageContext="DamageContext"></Description>
        <div class="spread-across">
            <SfButton type="button" CssClass="e-success e-outline" OnClick="OnReview"
                      Content="Review by AI" IconCss="e-icons e-resizer-1" Disabled="@DamageContext.AIReviewCompleted"
                      IconPosition="IconPosition.Right" title="Review by AI"></SfButton>
            <SfMessage Severity="@DamageContext.GetSeverity()" Variant="MessageVariant.Filled">@DamageContext.StatusId</SfMessage>
            <SfButton type="button" IsPrimary="true" CssClass="e-outline" OnClick="ToggleBlade"
                      Content="@(IsBladeOpen ? "Hide" : "Review damage report")" IconCss="@(IsBladeOpen ? "e-icons e-eye-slash" : "e-icons e-eye")"
                      IconPosition="IconPosition.Right" title="Review damage report">
            </SfButton>
        </div>
    </CardContent>
    <CardContent EnableSeparator="true">
        <div class="spread-across">
            <SfButton type="button"
                      OnClick="OnSubmit"
                      IconCss="e-icons e-check" IconPosition="IconPosition.Right" IsPrimary="true"
                      CssClass="e-outline"
                      Content="@isProceeded()" title="Proceed with Service">
            </SfButton>
            <SfButton type="button" OnClick="OnChat" IconCss="e-icons e-comment-show" IconPosition="IconPosition.Right" IsPrimary="true"
                      CssClass="e-outline"
                      Content="Chat" title="Chat with Customer">
            </SfButton>
        </div>
    </CardContent>
</SfCard>
@code {
    [Parameter] public DamageEntry DamageContext { get; set; } = default!;
    [Parameter] public bool IsBladeOpen { get; set; } = default!;
    [Parameter] public EventCallback<DamageEntry> OnToggleBladeEvent { get; set; }
    [Parameter] public EventCallback<DamageEntry> OnReviewEvent { get; set; }
    [Parameter] public EventCallback<DamageEntry> OnSubmitEvent { get; set; }

    private async Task ToggleBlade()
    {
        await OnToggleBladeEvent.InvokeAsync(DamageContext);
    }

    private async Task OnSubmit()
    {
        await OnSubmitEvent.InvokeAsync(DamageContext);
    }

    private async Task OnReview()
    {
        await OnReviewEvent.InvokeAsync(DamageContext);
    }

    private async Task OnChat()
    {
    }

    private string isProceeded() => DamageContext.StatusId == DamageStatus.Reported ? "Proceed with Service" : "Scheduled";
}