@inject SfDialogService dialogService
@inject IVendorRepo vendorRepo

<SfDialog Width="90vw" ShowCloseIcon="true" @bind-Visible="IsSearchDialogOpen">
    <DialogTemplates>
        <Header>Local contractors near the property</Header>
        <Content>
            <GoogleMap Latitude="DamageContext.Latitude" Longitude="DamageContext.Longitude" OnSelectionEvent="SelectedVendor" />
        </Content>
    </DialogTemplates>
</SfDialog>
<SfCard role="link">
    <CardContent EnableSeparator="true">
        <Description DamageContext="DamageContext"></Description>
        <div class="spread-across">
            <SfButton type="button" CssClass="e-success e-outline" OnClick="OnReview"
                      Content="Review by AI" IconCss="e-icons e-resizer-1" Disabled="@DamageContext.AIReviewCompleted"
                      IconPosition="IconPosition.Right" title="Review by AI"></SfButton>
            <SfMessage Severity="@DamageContext.GetSeverity()" Variant="MessageVariant.Filled">@DamageContext.StatusId</SfMessage>
            <SfButton type="button" IsPrimary="true" CssClass="e-outline" OnClick="ToggleBlade"
                      Content="@(IsBladeOpen ? "Hide" : "Review damage report")" IconCss="@(IsBladeOpen ? "e-icons e-eye-slash" : "e-icons e-eye")"
                      IconPosition="IconPosition.Right" title="Review damage report">
            </SfButton>
        </div>
    </CardContent>
    <CardContent EnableSeparator="true">
        <div class="spread-across">
            <VendorSearch DamageContext="DamageContext"></VendorSearch>
            <SfButton type="button" OnClick="OnChat" IconCss="e-icons e-comment-show" IconPosition="IconPosition.Right" IsPrimary="true"
                      CssClass="e-outline"
                      Content="Chat" title="Chat with Vendor">
            </SfButton>
        </div>
    </CardContent>
</SfCard>
@code {
    [Parameter] public DamageEntry DamageContext { get; set; } = default!;
    [Parameter] public bool IsBladeOpen { get; set; } = default!;
    [Parameter] public EventCallback<DamageEntry> OnToggleBladeEvent { get; set; }
    [Parameter] public EventCallback<DamageEntry> OnReviewEvent { get; set; }

    private bool IsSearchDialogOpen;

    private async Task ToggleBlade()
    {
        await OnToggleBladeEvent.InvokeAsync(DamageContext);
    }

    private async Task OnChat()
    {
    }

    private async Task ShowVendor()
    {
        await dialogService.AlertAsync(null, DamageContext.Vendor?.Name, new DialogOptions
        {
            CssClass = "popup-dialog",
            ShowCloseIcon = true,
            Height = "80%",

            PrimaryButtonOptions = new DialogButtonOptions
            {
                Content = "Close", IconCss = "e-icons e-close"
            },
            AnimationSettings = new DialogAnimationOptions
            {
                Effect = DialogEffect.FlipXUp
            },
            ChildContent = builder =>
            {
                builder.OpenComponent<VendorDetails>(0);
                builder.AddAttribute(1, "Vendor", DamageContext.Vendor);
                builder.CloseComponent();
            }
        });
    }

    private async Task RemoveVendor()
    {
        DamageContext.Vendor = null;
        DamageContext.VendorId = null;
        StateHasChanged();
    }

    private async Task toggleSearch()
    {
        IsSearchDialogOpen = true;
    }

    private async Task SelectedVendor(string placeId)
    {
        try
        {
            DamageContext.Vendor = await vendorRepo.GetVendorByPlaceAsync(placeId);
            DamageContext.VendorId = DamageContext.Vendor?.Id;
            DamageContext.StatusId = DamageStatus.VendorAssigned;
        } catch (Exception)
        {
        } finally
        {
            IsSearchDialogOpen = false;
        }
    }

    private async Task OnReview()
    {
        await OnReviewEvent.InvokeAsync(DamageContext);
    }
}